#Whitelist
/*

#Folders
!/config/
!/profileImage
!/resourcepacks
!/resources
!/scripts
!/local

#Files
/.gitignore
!/LICENSE.md
!/options.txt
!/optionsof.txt
!/README.md
!/RecordAndUpdate.md

#ignore
local/client
local/ftbutilities/backups.json
local/ftbutilities/players.txt
resourcepacks/Minecraft-Mod-Language-Modpack.zip