# Configuration file

general {
    B:debugDisplay=false
    B:enabled=true
}


ui_background {
    B:uiBackground=true

    vanilla {
        B:anvil=false
        B:beacon=false
        B:brewing=false
        B:chest=false
        B:crafting=false
        B:creative=false
        B:dispenser=false
        B:enchantment=false
        B:furnace=false
        B:hopper=false
        B:inventory=false
        B:shulker=false
        B:villager=false
    }

    seenscreens {
        B:arekkuusu.enderskills.client.gui.GuiScreenSkillAdvancements=true
        B:baubles.client.gui.GuiPlayerExpanded=true
        B:biomesoplenty.client.gui.GuiBOPConfigureWorld=true
        B:com.codetaylor.mc.artisanworktables.modules.worktables.gui.GuiContainerWorkshop=true
        B:com.feed_the_beast.ftblib.lib.gui.GuiWrapper=true
        B:com.flanks255.simplybackpacks.gui.BackpackGui=true
        B:com.gildedgames.aether.client.gui.container.guidebook.GuiGuidebookInventory=true
        B:com.gildedgames.aether.client.gui.container.guidebook.discovery.GuiGuidebookDiscoveryBestiary=true
        B:com.gildedgames.aether.client.gui.container.guidebook.discovery.GuiGuidebookDiscoveryCharacters=true
        B:com.gildedgames.aether.client.gui.container.guidebook.discovery.GuiGuidebookDiscoveryEffects=true
        B:com.gildedgames.aether.client.gui.container.guidebook.discovery.GuiGuidebookDiscoveryLandmarks=true
        B:com.gildedgames.aether.client.gui.dialog.GuiDialogViewer=true
        B:com.gildedgames.aether.client.gui.misc.GuiAetherLoading=true
        B:cursedflames.bountifulbaubles.client.gui.GuiPhantomPrism=true
        B:de.impelon.disenchanter.gui.GuiDisenchantment=true
        B:de.keksuccino.fancymenu.menu.fancy.helper.layoutcreator.LayoutEditorScreen=true
        B:de.keksuccino.fancymenu.menu.fancy.helper.layoutcreator.PreloadedLayoutEditorScreen=true
        B:de.keksuccino.fancymenu.menu.fancy.helper.ui.FMConfigScreen=true
        B:electroblob.wizardry.client.gui.GuiArcaneWorkbench=true
        B:hunternif.mc.atlas.client.gui.GuiAtlas=true
        B:lain.mods.cos.client.GuiCosArmorInventory=true
        B:net.minecraft.client.gui.GuiLanguage=true
        B:net.minecraft.client.gui.GuiScreenOptionsSounds=true
        B:net.minecraft.client.gui.ScreenChatOptions=true
        B:net.shadowmage.ancientwarfare.core.gui.GuiBackpack=true
        B:net.shadowmage.ancientwarfare.npc.gui.GuiNpcInventory=true
        B:org.dimdev.vanillafix.crashes.GuiCrashScreen=true
        B:org.dimdev.vanillafix.crashes.GuiInitErrorScreen=true
        B:us.getfluxed.controlsearch.client.gui.GuiNewControls=true
        B:xzeroair.trinkets.client.gui.entityPropertiesGui.GuiAttributesScreen=true
        B:xzeroair.trinkets.client.gui.entityPropertiesGui.GuiEntityProperties=true
        B:xzeroair.trinkets.client.gui.hud.mana.ManaHud=true
    }

}


ui_movement {
    B:jumpInInventories=true
    B:moveInInventories=true
    B:sneakInInventories=false
    B:textFieldDisablesMovement=true

    vanilla {
        B:anvil=true
        B:beacon=true
        B:brewing=true
        B:chest=true
        B:crafting=true
        B:creative=true
        B:dispenser=true
        B:enchantment=true
        B:furnace=true
        B:hopper=true
        B:inventory=true
        B:shulker=true
        B:villager=true
    }

    seenscreens {
        B:arekkuusu.enderskills.client.gui.GuiScreenSkillAdvancements=true
        B:baubles.client.gui.GuiPlayerExpanded=true
        B:com.codetaylor.mc.artisanworktables.modules.worktables.gui.GuiContainerWorkshop=true
        B:com.feed_the_beast.ftblib.lib.gui.GuiWrapper=true
        B:com.flanks255.simplybackpacks.gui.BackpackGui=true
        B:com.gildedgames.aether.client.gui.container.guidebook.GuiGuidebookInventory=true
        B:com.gildedgames.aether.client.gui.container.guidebook.discovery.GuiGuidebookDiscoveryBestiary=true
        B:com.gildedgames.aether.client.gui.container.guidebook.discovery.GuiGuidebookDiscoveryCharacters=true
        B:com.gildedgames.aether.client.gui.container.guidebook.discovery.GuiGuidebookDiscoveryEffects=true
        B:com.gildedgames.aether.client.gui.container.guidebook.discovery.GuiGuidebookDiscoveryLandmarks=true
        B:cursedflames.bountifulbaubles.client.gui.GuiPhantomPrism=true
        B:hunternif.mc.atlas.client.gui.GuiAtlas=true
        B:net.shadowmage.ancientwarfare.core.gui.GuiBackpack=true
        B:net.shadowmage.ancientwarfare.npc.gui.GuiNpcInventory=true
        B:xzeroair.trinkets.client.gui.entityPropertiesGui.GuiAttributesScreen=true
        B:xzeroair.trinkets.client.gui.entityPropertiesGui.GuiEntityProperties=true
        B:xzeroair.trinkets.client.gui.hud.mana.ManaHud=true
    }

}


